body {
    background-color: #1f2023;
    color: aliceblue;
}

.alert-dark {
    background-color: #2b2d30;
    color: aliceblue;
}
.accordion-button {
    background-color: #1f2023;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}
.accordion-body {
    background-color: #1f2023;
    padding: 15px 10px;
}

.accordion-button:not(.collapsed) {
    background-color: #cfe2ff;
    color: #2b2d30;
}

.allowed-budget {
    color: #27b428;
}
.not-allowed-budget {
    color: #cd5454;
}

.dark-text{
    color: #2b2d30;
}

.accordion-button::after {
    content: none;
}

.budget-text {
    color: aliceblue;
}

.dark-text {
    color: #2b2d30;
}
